# Ch 2.3

In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Auto = pd.read_csv("data/Auto.csv")

In [52]:
# Handle incorrect and missing values

Auto = Auto.replace("?", np.nan)
Auto["horsepower"] = Auto["horsepower"].apply(lambda x: int(x) if pd.notnull(x) else np.nan)
Auto = Auto.dropna()

## Ex 9

In [53]:
Auto

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [75]:
for column in Auto.columns[:-1]:
    min_value = Auto[column].min()
    max_value = Auto[column].max()
    print(f"Column: {column}, Min: {min_value}, Max: {max_value}")

Column: mpg, Min: 9.0, Max: 46.6
Column: cylinders, Min: 3, Max: 8
Column: displacement, Min: 68.0, Max: 455.0
Column: horsepower, Min: 46.0, Max: 230.0
Column: weight, Min: 1613, Max: 5140
Column: acceleration, Min: 8.0, Max: 24.8
Column: year, Min: 70, Max: 82
Column: origin, Min: 1, Max: 3

In [76]:
for column in Auto.columns[:-1]:
    mean_value = Auto[column].mean()
    std_value = Auto[column].std()
    print(f"Col: {column}, Mean: {mean_value}, Std: {std_value}")

Col: mpg, Mean: 23.445918367346938, Std: 7.8050074865717995
Col: cylinders, Mean: 5.471938775510204, Std: 1.7057832474527845
Col: displacement, Mean: 194.41198979591837, Std: 104.64400390890466
Col: horsepower, Mean: 104.46938775510205, Std: 38.49115993282849
Col: weight, Mean: 2977.5841836734694, Std: 849.4025600429492
Col: acceleration, Mean: 15.541326530612244, Std: 2.758864119188082
Col: year, Mean: 75.9795918367347, Std: 3.6837365435778295
Col: origin, Mean: 1.5765306122448979, Std: 0.8055181834183056